<header class="mainmenuBar">
    <ul class="menuBar">
        <li class="menu"><a href="/">Início</a></li>
        <li class="menu"><a href="/faq">FAQ</a></li>
        <li class="menu"><a href="/login">Entrar</a></li>
    </ul>
</header>