<div class="containerAccordion">
    <div class="accordion">
        <div class="contentBox">
            <div class="question">List one</div>
            <div class="answer">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium fuga laboriosam eum accusantium tempora, sed ea odit id. Rerum debitis amet tempora commodi vel consequuntur sunt sit explicabo a unde?</p>
            </div>
        </div>
        <div class="contentBox">
            <div class="question">List two</div>
            <div class="answer">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem commodi ipsa culpa! Iste consectetur, odio, aspernatur alias quibusdam dolorum nostrum aperiam quae veniam fugiat quisquam facilis ea odit nihil est?</p>
            </div>
        </div>
        <div class="contentBox">
            <div class="question">List three</div>
            <div class="answer">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias iure, nesciunt enim itaque sunt nostrum reprehenderit eum voluptate vitae illum soluta adipisci odit magnam quos fugiat dolores expedita fugit laboriosam.</p>
            </div>
        </div>
    </div>
</div>

<script>
    const accordion = document.querySelectorAll('.contentBox');
    for(i=0; i<accordion.length; i++){
        accordion[i].addEventListener('click', function(){
            this.classList.toggle('active')
        })
    }
</script>