<main>
    <section>
        
    </section>
    <section class="about adjust" id="about">
        <div class="title">
            <h2>Sobre</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente magnam vel voluptate architecto.</p>
        </div>
        <div class="container">
            <div class="content">
                <div class="aboutBox">
                    <div class="infoBox">
                        <div class="case"><h2></h2></div>
                        <h2>Quem</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque numquam et veritatis quod deleniti vitae sequi esse.</p>
                    </div>
                </div>
                <div class="aboutBox">
                    <div class="infoBox">
                        <div class="case"><h2></h2></div>
                        <h2>Porque</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque numquam et veritatis quod deleniti vitae sequi esse.</p>
                    </div>
                </div>
                <div class="aboutBox">
                    <div class="infoBox">
                        <div class="case"><h2></h2></div>
                        <h2>Objetivo</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque numquam et veritatis quod deleniti vitae sequi esse.</p>
                    </div>
                </div>
            </div>
            <p class="linkFaq">Quer saber mais?<a href="/faq" class="linkFaq">Acesse nosso faq</a></p>
        </div>
    </section>
</main>