<div id="boxSign">
    <div id="signArea">
        <div id="logoArea">
            <img src="img/logo.png" alt="logo araujo school" id="logoSign">
        <form action="">
            </div>
            <div id="emailArea">
                <input type="email" name="email" class="sign" placeholder="Email">
            </div>
            <div id="passwordArea">
                <input type="password" name="password" class="sign" placeholder="Senha">
            </div>
                <input type="submit" value="Entrar" id="signButton">
                <p id="pSign">
                    <a href="#terms">Termos de Uso</a> | <a href="sign-up.html">Registra-se</a>
                </p>
        </form>
    </div>
</div>