*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #1C1C1C;
}

a{
    color: #1d1d8b;
}

/*  main menu    */

header{
    padding: 10px; 
    background-color: #00000000;
    color: white;
    border-radius:5px;
}

ul#mainmenu{
    margin: 0px;
    padding: 0px;
    text-align: right;
}

li.menu{
    list-style: none; 
    margin: 0px;
    display: inline;
}

li.menu a {
    padding: 10px; 
    margin: 0px;
    border: 0px; 
    background: rgba(33, 0, 153, 0);
    text-decoration: none;
    color:#FFF;
    border-radius:5px;
}
li.menu a:hover {
    background: #4682B48c;
    color: rgb(255, 255, 255); 
    border-color: #000;
}

/*  footer   */

footer {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer a {
    color: #a8a8c9;
    margin-right:5px;
}