@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-sizing: border-box;
}

body{
    background-color: #1C1C1C;
}

/*  main menu    */

.mainmenuBar{
    padding: 10px; 
    background-color: #00000000;
    color: white;
}

.menuBar{
    margin: 0px;
    padding: 0px;
    text-align: right;
}

.menu{
    list-style: none; 
    margin: 0px;
    display: inline;
}

li.menu a {
    padding: 10px; 
    border: 0; 
    background: rgba(33, 0, 153, 0);
    text-decoration: none;
    color:#FFF;
}
li.menu a:hover {
    background: #4682B48c;
    border-color: #000;
}

/*  footer   */

footer {
    background-color: #333;
    color: #fff;
    font-size: 14px;
    position: static;
    text-align: center;
    z-index: 999;
    border-radius: 0;
}
