@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
}

body{
    background-color: #1C1C1C;
}

/*  menu bar    */

.mainmenuBar{
    padding: 10px;
    text-align: right;
}

.menu{
    list-style: none; 
    display: inline;
}

.menu a {
    padding: 10px; 
    border: 0; 
    text-decoration: none;
}
.menu a:hover {
    background: #4682B48c;
}

/*  footer   */

footer {
    position: static;
    background-color: #333;
    border-radius: 0;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.createBy{
    padding: 10px;
    font-weight: 100;
    font-size: 12px;
}
