#mainbox{
    background-color: #5e94c0;
    display: flex;
    /* size */
    width: 1000px;
    /*  position   */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 25px;
    margin-bottom: 100px;   
}
.about-heading{
    border-bottom: #777;
    padding: 20px 60px;
}
.about-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.hr-line{
    width: 103%;
    margin: 0;
    margin-left: 5.5px;
    border-color: rgb(68, 68, 68);
    
}

/* Style the buttons that are used to open and close the faq-page body */
.about-page {
    /* background-color: #eee; */
    color: #000;
    cursor: pointer;
    padding: 25px 20px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.5s;
    margin: 0;
}
.about-body{
    margin: 0px;
    margin-top: -20px;
    width: 100.5%; 
    padding: auto;
    text-align: justify;
    border-radius: 10px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.about-page:hover {
    background-color: #a8c7d3;
    border-radius: 10px;
}

/* Style the about-page panel. Note: hidden by default */
.about-body {
    padding: 0 18px;
    background-color: #a8c7d3;
    display: none;
    overflow: hidden;
}

.about-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}